:root {
    --header-bg: ;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Non-viewport dependant styling */

html, body {
    width: 100dvw;
    height: 100dvh;
}

header {
    border: 2px solid red;
}
header a {}
header a img {}
header a span {}

main {}
main section {}

main section #about-us {}
main section #about-us h1 {}
main section #about-us p {}

main section #client-service {}
main section #client-service ul {}
main section #client-service ul li {}

main section #commercial-services {}
main section #commercial-services h1 {}
main section #commercial-services h2 {}
main section #commercial-services ul {}
main section #commercial-services ul li {}

main section #client-testimonials {}
main section #client-testimonials h1 {}
main section #client-testimonials p {}
main section #client-testimonials p span {}

main section #community-support {}
main section #community-support h1 {}
main section #community-support ul {}
main section #community-support ul li {}
main section #community-support ul li a {}
main section #community-support ul li a img {}

footer {}
footer a {}
footer p {}

/* Mobile-viewport */
/* Tablet-viewport */
/* Desktop-viewport */

