*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Non-viewport dependant styling */

html, body {
    width: 100dvw;
    height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: fit-content;
    background-color: black;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header .cta-phone {
    border: 1px solid red;
    border-radius: 0.25rem;
}

h1 {
    font-size: 1.625rem;
    text-align: center;
}

h2 {
    font-size: 1.125rem;
}

p {
    line-height: 1.5;
}

ul {
    font-size: 0.95rem;
    padding: 0rem 1rem;
}

ul li {
    margin: 0.25rem 0rem;
}

ul li::marker {
    color: red;
}

footer {
    height: fit-content;
    background-color: black;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.75rem;
}
footer p {
    font-size: 0.625rem;
}

/* Mobile-viewport */
@media only screen and (max-width: 425px) {
    header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a img {
        width: 100px;
        height: auto;
    }

    header .cta-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    header a span {
        font-size: 0.625rem;
    }

    main {
        padding: 1rem;
    }

    main section {
        margin: 1rem 0rem;
    }

    main section h1 {
        margin: 1rem 0rem;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-column {
        width: 50%;
    }

    .right-column {
        width: 50%;
    }

    .right-column img {
        width: 150px;
        height: auto;
    }

    #client-testimonials p {
        margin: 2rem 0rem;
        font-size: 0.9rem;
    }

    #community-support ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #community-support ul li {
        list-style-type: none;
    }

    #community-support ul li a img {
        width: 100px;
        height: auto;
        margin: 0.25rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer a {
        margin: 0.125rem 0rem;
    }

    footer p {
        font-size: 0.625rem;
        margin: 0.5rem 0rem 0rem 0rem;
        color: whitesmoke;
    }
}
/* Tablet-viewport */
@media only screen and (min-width: 426px) {

}
/* Desktop-viewport */
@media only screen and (min-width: 768px) {

}

