*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Non-viewport dependant styling */
html, body {
    width: 100dvw;
    height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(210, 210, 210);
}

header {
    height: fit-content;
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    width: 100px;
    height: auto;
}

header .cta-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.5rem;
}

header a span {
    font-size: 0.625rem;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header .cta-phone {
    border: 1px solid red;
    border-radius: 0.25rem;
}



main section {
    background-color: whitesmoke;
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 1rem;
}

h1 {
    font-size: 1.625rem;
    text-align: center;
}

h2 {
    font-size: 1.125rem;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

ul {
    font-size: 0.95rem;
    padding: 0rem 1rem;
}

ul li {
    margin: 0.25rem 0rem;
}

ul li::marker {
    color: red;
}

#community-support ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#community-support ul li {
    list-style-type: none;
}

footer {
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.75rem;
    margin: 0.125rem 0rem;
}

footer p {
    font-size: 0.625rem;
    margin: 0.5rem 0rem 0rem 0rem;
    color: whitesmoke;
}

/* Mobile-viewport */
@media only screen and (max-width: 425px) {
    main {
        padding: 1rem;
    }

    main section {
        margin: 2.5rem 0rem;
    }

    #about-us {
        margin: 1rem 0rem 2.5rem 0rem;
    }

    main section h1 {
        margin: 1rem 0rem;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-column {
        width: 50%;
    }

    .right-column {
        width: 50%;
    }

    .right-column img {
        width: 150px;
        height: auto;
    }

    #client-testimonials p {
        margin: 2rem 0rem;
        font-size: 0.9rem;
    }

    #community-support ul li a img {
        width: 100px;
        height: auto;
        margin: 0.25rem;
    }
}

/* Tablet-viewport */
@media only screen and (min-width: 426px) {

}
/* Desktop-viewport */
@media only screen and (min-width: 768px) {
    header {
        padding: 1.5rem 3rem; /* Brought the img and a href in */
    }

    header .cta-phone {
        width: 150px;
        border-radius: 0.375rem;
        font-size: 1.125rem;
    }

    header .cta-phone:hover {
        color: red;
    }

    header a img {
        width: 200px;
    }

    header a span {
        font-size: 0.9rem;
    }

    main {
        padding: 3rem;
    }

    main section {
        margin: 1rem 0rem;
    }

    ul {
        padding: 0rem 2rem;
    }

    #commercial-services .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #commercial-services .left-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #commercial-services .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #commercial-services img {
        width: 250px;
        height: auto;
    }

    #commercial-services h2 {
        text-align: center;
        margin: 1rem 0rem;
    }

    #commercial-services ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0rem 5rem;
    }

    #client-testimonials {
        margin: 2rem 0rem;
    }

    .testimonial-container {
        display: flex;
    }

    #client-testimonials p { /* Might need to adjust this */
        margin: 1rem 2rem;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    hr {
        display: none;
    }

    #community-support ul li a img {
        width: 250px;
        height: auto;
        margin: 1.5rem 2rem;
    }

    footer a {
        font-size: 0.75rem;
    }

    footer a:hover {
        color: red;
    }
}

