:root {
    --header-bg: black;
    --commercial-services-bg: hsl(0, 0%, 97%);
    --community-support-bg: rgb(250, 250, 250);
    --accent-red: red;
    --button-font: white;
    --footer-link: white;
    --hero-blend: hsla(0, 3%, 94%, 0.734);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Non-viewport dependant styling */
html, body {
    width: 100dvw;
    height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
}

.hero-section {
    background-image: url(../assets/sigmund-4CNNH2KEjhc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--hero-blend);
    background-blend-mode: lighten;
    width: 100%;
    height: auto;
}

.hero-section p {
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 0.375rem;
    height: 24px;
}

ul li::marker {
    color: var(--accent-red);
}

strong {
    color: var(--accent-red);
}

.cta-button a {
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
    margin: 1rem;
}

/* Mobile */
@media only screen and (min-width: 320px) {

    /* Header */
    header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .logo img {
        width: 150px;
        height: auto;
    }

    .cta-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Main - content sections */
    main {
        width: 100%;
    }

    section {
        padding: 0rem 1rem;
        min-height: fit-content;
    }

    h1 {
        text-align: center;
        font-size: 1.75rem;
        padding: 1rem 0rem;
        margin: 0.25rem 0rem;
    }

    h2 {
        text-align: center;
        font-size: 1.25rem;
        text-decoration: underline;
    }

    /* Hero section */
    .hero-section {
        height: 95dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-section h1 {
        margin: 3rem 0rem;
    }

    .hero-section p {
        margin: 1.5rem 0rem;
        font-size: 1.125rem;
        line-height: 1.5;
    }

    .hero-section button {
        margin: 1.5rem 0rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-red);
        border: none;
    }

    .hero-section a {
        font-size: 1.125rem;
        font-weight: 900;
        color: var(--button-font);
    }

    /* Client service section */
    .client-service-section {
        margin: 2rem 0rem;
    }

    .client-service-section ul {
        padding: 0rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service {
        margin: 0.375rem 0rem;
    }

    .client-service-section li {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0rem;
    }

    /* Commercial services section */
    .commercial-services-section {
        background-color: var(--commercial-services-bg);
        margin: 2rem 0rem;
    }

    .commercial-services-section .services-container {
        margin: 0.5rem 0.5rem;
    }

    .services-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side {
        width: 50%;
        font-size: 0.85rem;
        padding: 1rem;
    }

    .left-side {
        width: 50%;
        padding: 1rem;
        font-size: 0.85rem;
    }

    .left-side img {
        width: 100%;
        height: auto;
    }

    .right-side img {
        width: 100%;
        height: auto;
    }

    /* Client testimonial section */
    .client-testimonials {
        margin: 2rem 0rem;
    }

    .testimonial {
        margin: 1rem 1rem;
    }

    .testimonial p {
        font-size: 0.95rem;
    }

    hr {
        width: 50%;
        margin: auto;
        border-top: none;
    }

    /* Community support section */
    .community-support-section {
        margin: 2rem 0rem 0rem;
        border: 2px solid var(--commercial-services-bg);
        background-color: var(--commercial-services-bg);
    }

    .community-support-section ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0rem;
    }

    .community-support-section li {
        list-style-type: none;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .community-support-section a img {
        width: 250px;
        height: auto;
    }

    footer {
        background-color: var(--header-bg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
    }

    footer a {
        text-decoration: none;
        color: var(--footer-link);
        margin: 0.375rem 0rem 0rem;
    }

    .privacy-policy-h1 {
        margin: 1rem;
    }
    .privacy-policy-p {
        padding: 1rem;
    }
}

/* Tablet - will add if needed... */
@media only screen and (min-width: 426px) {}

/* Desktop */
@media only screen and (min-width:768px) {
    h1 {
        font-size: 3rem;
    }

    .hero-section h1 {
        width: 670px;
        text-align: left;
    }

    .hero-section p {
        width: 700px;
    }

    .client-service-section li {
        margin: 0.75rem;
    }

    .client-service-section .service {
        margin: 0.75rem;
        width: 500px;
        text-align: left;
    }

    .commercial-services-section .container {
        padding: 1rem 4rem;
    }

    .commercial-services-section h2 {
        font-size: 1.75rem;
    }

    .commercial-services-section .services-container {
        padding: 2rem;
    }

    .commercial-services-section img {
       border-radius: 0.75rem;
    }

    .commercial-services-section ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .commercial-services-section ul li {
        margin: 1rem;
        font-size: 1rem;
    }

    .client-testimonials .testimonial {
        width: 50%;
        margin: 1rem auto;
    } 
    
    .client-testimonials hr {
        width: 25%;
        margin: 3rem auto;
    }

    .community-support-section ul {
        display: flex;
        flex-direction: row;
    }

    .community-support-section ul li {
        margin: auto 2rem;
    }
}
