:root {
    --header-bg: black;
    --commercial-services-bg: hsl(0, 0%, 97%);
    --community-support-bg: rgb(250, 250, 250);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Non-viewport dependant styling */
html, body {
    width: 100dvw;
    height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);

    position: fixed;
    top: 0;
}

button {
    background-color: white;
    border-radius: 0.375rem;
    height: 24px;
}

ul li::marker {
    color: red;
}

.cta-button a {
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
    margin: 1rem;
}

/* Mobile */
@media only screen and (min-width: 320px) {
    html {
        scroll-snap-type: y mandatory;
    }

    /* Header */
    header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 150px;
        height: auto;
    }

    .cta-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Main - content sections */
    main {
        width: 100%;
    }

    section {
        padding: 0rem 1rem;

        min-height: 100vh;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-behavior: smooth;
    }

    h1 {
        text-align: center;
        font-size: 1.75rem;
        padding: 2rem 0rem;
    }

    h2 {
        text-align: center;
        font-size: 1.25rem;
        text-decoration: underline;
    }

    /* Hero section */
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section h1 {
        margin: 0.25rem 0rem;
    }

    .hero-section p {
        margin: 0.5rem 0rem;
        font-size: 1.125rem;
        line-height: 1.5;
    }

    .hero-section button {
        margin: 1rem 0rem;
    }

    /* Client service section */

    .client-service-section ul {
        padding: 0rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service {
        margin: 0.75rem 0rem;
    }

    .client-service-section li {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.75rem 0rem;
    }

    /* Commercial services section */
    .commercial-services-section {
        background-color: var(--commercial-services-bg);
    }

    .commercial-services-section .services-container {
        margin: 0.5rem 0.5rem;
    }

    .services-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side {
        width: 50%;
        font-size: 0.85rem;
        padding: 1rem;
    }

    .left-side {
        width: 50%;
        padding: 1rem;
        font-size: 0.85rem;
    }

    .left-side img {
        width: 100%;
        height: auto;
    }

    .right-side img {
        width: 100%;
        height: auto;
    }

    /* Client testimonial section */
    .testimonial {
        margin: 1rem 1rem;
    }

    .testimonial p {
        font-size: 0.95rem;
    }

    hr {
        width: 50%;
        margin: auto;
        border-top: none;
    }

    /* Community support section */
    .community-support-section {
        position: relative;
    }

    .community-support-section ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0rem;
    }

    .community-support-section li {
        list-style-type: none;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .community-support-section a img {
        width: 250px;
        height: auto;
    }

    footer {
        height: 100px;
        background-color: var(--header-bg);
        bottom: 0;
        position: fixed;
    }
}

/* Tablet */
@media only screen and (min-width: 426px) {

}

/* Desktop */
@media only screen and (min-width:768px) {
    
}