body {
    width: 100dvw;
    height: 100dvh;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;

    position: sticky;
    top: 0;
}

.logo img {
    height: 50px;
}

section {
    padding: 1rem;
}

.community-support-links {
    width: 100%;
    height: auto;
}

/* Mobile */
@media screen and (max-width:425px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    header img {
        height: 25px;
    }

    header .cta-phone {
        color: white;
        text-decoration: none;
        font-size: 0.625rem;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 0.375rem;
    }

    .community-support-links a img {
        width: 25%;
        height: auto;
        display: block;
    }

    .community-support-links li {
        list-style-type: none;
    }

    footer {
        position: absolute;
        font-size: 0.375rem;
    }
}

/* Tablet */

/* Desktop */